/* Box - sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Margin - reset */
body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

/* Make img elements easy to work with */
img,
picture {
    max-width: 100%;
}

/* Make form elements easy to work with */
input,
button,
textarea,
select {
    font-family: inherit;
}

/* remove animations for websites that opted out animation */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    padding: 1em;
    background-color:cornsilk;
}

form {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

 button, select, input {
    border-radius: 5px;
    color: firebrick;
    font-size: 1.2rem;
     border: none;
}

input:hover, input:focus {
    box-shadow: 2px 2px 5px #DE6767;
}

#color-el {
    width: 60px;
    height: 45px;
}

#color-scheme {
    width: 50%;
    padding: 1em;
}

button[type="submit"] {
    padding: 1em;
}

#color-palette {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.color-block div {
    height: 80vh;
}

.color-block p {
    margin-top: 1em;
    text-align: center;
}

@media (min-width: 960px){
    main {
        width: 850px;
        margin: 0 auto;
    }
}